*{
    margin: 0;
    font-family: 'Times New Roman';
    border: border-box;
    
}

.top-menu {
    height: 45px;
    background-color: #212529; 
}

.navbar-one {
   height: 45px;
   color: #D7D3BF;
   font-size: 17px;
   display: flex;
   align-items: center;
   padding-left: 107px;
   justify-content: space-evenly;
}

.fb {
    height: 45px;
    align-content: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #C1BAA1 ;

}
.navbar-two {
    height: 65px;
    font-size: 14px;
    color: #212529;
    background-color: #ffc107;
    display: flex;
    align-items: center;
    padding-left: 180px ;

}

input {
    height:30px ;
    width: 700px;
    background-color: #FFFFFF;
    padding-left: 6px;
    padding-top: 0.85px;
    padding-bottom: 0.85px;
    padding-right: 0px;
    border-bottom: 2px solid black;
    
}
 
button {
    height: 35px;
    width: 60px;
    font-size: 16px;
    align-items: center;
    color:#FFFFFF ;
    background-color: #212529;
   
}

.icon-one {
    padding-left: 60px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #212529;
}

.hover{
    border: 4px solid transparent;
    
}

.border:hover {
    border: 4px solid grey;
}


.primary-menu{
    height: 60px;
    background-color: white;
    
}

.box1 {
    height: 60px;
    width: 600px;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding-left: 165px;
    justify-content: space-around;
}

.hero-photo {
    height: 450px;
    padding-top: 50px;
    background-image: url("01.png");
    background-size: cover;
}

.div0 {
    height: 250px ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div1 {
    height: 90px;
    width: 330px;
    border: 1px solid #C1BAA1;
    align-content: center;
    justify-items: center;
   

}

.div2 {
    height: 90px;
    width: 330px;
    border: 1px solid  #C1BAA1;
    align-content: center;
    justify-items: center;
}

.div3 {
    height: 90px;
    width: 330px;
    border: 1px solid  #C1BAA1;
    align-content:center ;
    justify-items: center;
}

i{
    font-size: 24px;
   
}

.class {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.class1 {
    height: 200px;
    width: 330px;
    background-color: #ffc107;
    border: 1px solid  #C1BAA1;
    background-image: url("4.png");
    background-size: cover;

}

.class2 {

    height: 200px;
    width: 330px;
    background-color: #FFCFEF;
    border: 1px solid  #C1BAA1;
    background-image: url("02.png");
    background-size: cover;
}

.class3 {
    height: 200px;
    width: 330px;
    background-color: #FFE6A9;
    border: 1px solid  #C1BAA1;
    background-image: url("03.png");
    background-size: cover;
}

.separator {
    margin-top: 10px solid black;
    font-size: 25px;
    height: 50px;
    padding-top: 70px;
    text-align: center;
    
}

.boxs {
    height: 400px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 5px;
}

.box11 {
    height: 240px ;
    width: 240px;
    background-color: yellow;
    background-image: url("900801301_g0.webp");
    background-size: cover;
    align-items: center;

}

.box12 {
    height: 240px ;
    width: 240px;
    background-color: gray;
    background-image: url("louis-vuitton-neverfull-mm-monogram-canvas-handbags--M46975_PM1_Wornview_2048x.webp");
    background-size: cover;

}

.box13 {
    height: 240px ;
    width: 240px;
    background-color: rebeccapurple;
    background-image: url("M1_254x@2x.webp");
    background-size: cover;
}

.box14 {
    height: 240px ;
    width: 240px;
    background-color: orange;
    background-image: url("05.png");
    background-size: cover;
}

.box15 {
    height: 240px ;
    width: 240px;
    background-color: blue;
    background-image: url("jeans.2.jpg");
    background-size: cover;
}

.div a {
    position: relative;
    top: 60px;
}

.finaldiv {
    height: 530px;
    color: black;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 80px;
    padding-right: 80px;
    margin: 10px 10px 10px 10px;
}

.final1 {
    height: 400px;
    width: 230px;
    background-image: url("08.png");
    background-size: cover;

}

.final2 {
    height: 400px;
    width: 230px;
    background-image: url("NIVEA\ MEN-Products_banner_revised.webp");
    background-size: cover;
    
}

.final3 {
    height: 400px;
    width: 230px;
    background-image: url("box1.png");
    background-size: cover;
}

.final4 {
    height: 400px;
    width: 230px;
    background-image: url("20.png");
    background-size: cover;
}

.footer-div {
    height: 300px;
    background-color: #ffeeef;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-top: 70px;

   
}

.footer-div1 {
    height: 250px;
    width: 350px;
    font-size: 17px;
   
}

.footer-div2 {
    height: 250px; 
    width: 350px;
    font-size: 17px;

}

.tags  {
    background-color: #ffeeef;
    color: black;
    box-sizing: content-box;
    but
}

.letmeknow {
    height: 250px; 
    width: 360px;
    padding-left: 35px;
}

.faisaldiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}


.boxs1 {
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 5px;
}

.box16 {
    height: 240px ;
    width: 240px;
    background-color: yellow;
    background-image: url("31.avif");
    background-size: cover;
    
}

.box17 {
    height: 240px ;
    width: 240px;
    background-color: gray;
    background-image: url("american-tourister-cristiano-ronaldo.png");
    background-size: cover;
   
}

.box18 {
    height: 240px ;
    width: 240px;
    background-color: rebeccapurple;
    background-image: url("21.jpg");
    background-size: cover;
}

.box19 {
    height: 240px ;
    width: 240px;
    background-color: orange;
    background-image: url("VillainHydraListingImage_1080x1080_02.webp");
    background-size: cover;
}

.box20 {
    height: 240px ;
    width: 240px;
    background-color: blue;
    background-image: url("normal.jpg");
    background-size: 50vb;
}


.subbox20-1 {
    height: 120px;
    width: 120px;
    background-color: aqua;
    background-image: url("sportswear_fw24_zne_launch_plp_sportswear_iwp_fg_2_b_d_82164e79b7.jpg");
    background-size: cover;
    margin: 0px 30px 0px 0px;
}

.subbox20-2 {
    height: 120px;
    width: 120px;
    background-color: green;
    background-image: url("adid.shoe.jpg");
    background-size: cover;
}

.subbox20-3 {
    height: 120px;
    width: 60px;
    position: relative;
    left: 80px;
    
}

.add-info {
    height: 100px;
    width: 350px;
    font-size: 17px;
   
}

.Enter {
    height: 35px;
  width: 300px;
}

.button3 {
    height: 35px;
    width: 305px;
}

.button4 {
    height: 50px;
    width: 150px;
    background-image: url("apple-store.png");
    background-size:cover;
    
}

.button5 {
    height: 50px;
    width: 150px;
    background-image: url("play-store.png");
    background-size: cover;
}

/*shop-section*/
.shop-section {
    height: 600px;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 500px;
    width: 300px;
    background-color: white;
    display: grid;
}

.box-img {
    height: 400px;
    background-size: cover;
}

.sis {
align-content: center;
justify-items: center;
padding-left: 12px;
}